<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="CordovaSaveXLS" version="0.0.1">
	<name>CordovaSaveXLS</name>
	<js-module name="CordovaSaveXLS" src="www/CordovaSaveXLS.js">
		<clobbers target="cordova.plugins.CordovaSaveXLS"/>
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="CordovaSaveXLS">
				<param name="android-package" value="CordovaSaveXLS.CordovaSaveXLS"/>
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml"/>
		<source-file src="src/android/CordovaSaveXLS.java" target-dir="src/CordovaSaveXLS/CordovaSaveXLS"/>
		<source-file src="lib/android/jxl.jar" target-dir="libs" />      
	</platform>
</plugin>
